    <div class="index-header">
      <div class="container ">
        <div class="col-lg-12 col-md-12 hidden-sm hidden-xs">
          <!-- <div style="float: left;">
            <img class= "logomark" style="margin-top: 5px;" src="<%= asset_path 'logo.png' %>" alt="logo" width="50" height="50" />
          </div> -->
          <div style="float: left;">
            <h1 class="site-title"><i class="fa fa-car"></i> Possante.info <small>Seu gerenciador veicular</small></h1>
          </div>
        </div>
        <div class="col-sm-12 hidden-lg hidden-md hidden-xs">
          <div style="float: left;">
            <h3>Brito Neg칩cios Imobili치rios</h3>
          </div>
          <div style="float: right;">
            <h3>Contato: (51) 9776-6603</h3>
          </div>
        </div>
        <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
          <div style="float: left;">
            <h5>Brito Neg칩cios Imobili치rios</h5>
          </div>
          <div style="float: right;">
            <h5>Contato: (51) 9776-6603</h5>
          </div>
        </div>

      </div>
    </div>

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
          <li class=""><a href="/"><i class="fa fa-home"></i></a></li>
          <li class=""><a href="/">Sobre</a></li>
          <li class=""><a href="/contato">Contato</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><button class="btn btn-success navbar-btn possante-login-btn">Login</button> </li>
          </ul>
        </div>

      </div>
    </div>