<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <img src="http://imganuncios.mitula.net/honda_civic_1_8_2007_98494204700418123.jpg" class="img-responsive img-thumbnail" alt="Responsive image">
    </div>
    <div class="col-lg-8">
      <h2 class="title-divider"><%= @vehicle.vehicle_brand %> - <%= @vehicle.vehicle_model %> - Placa: <%= @vehicle.numberplate %> </h2>
    </div>
  </div>
</div>